html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #f4f2ee;
}

/* PROFILEHERO.tsx */
.custom-border {
  border-style: dashed !important;
}
.custom-hover-card:hover {
  background-color: #f4f2ee;
}
.custom-position {
  position: absolute;
  bottom: -30px;
}

/* FOOTERLINKEDIN */

.custom-hover:hover {
  text-decoration: underline !important;
  color: rgba(0, 0, 255, 0.468);
}

/* FOOTERMINI */
#example-custom-modal-styling-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  --bs-modal-width: 100vw;
  margin: 0;
}
.footerMini {
  text-decoration: none !important;
  color: black ;
  font-size: 11px ;
}

.footerMini:hover {
  text-decoration: underline !important;
  color: rgba(0, 0, 255, 0.468);

  background-color: #f4f2ee;
}

/*PofileCardsSideBar.jsx */
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/*SideBarProfile.jsx  Larghezza Foto Classe Personale */
.w-14 {
  width: 14% !important;
}

/* NAV-BAR */
.navbar-nav .dropdown-menu {
  position: absolute;
}

/*HomeNews*/
.content {
  display: flex;
  align-items: center;
  line-height: 1;
}

.text-container {
  margin-left: 10px;
}

.text-container p {
  margin: 0;
}
.text-decoration-none:visited {
  color: black;
}
.content:hover {
  background: #ebebeb;
}
.ArrowBarRight {
  font-size: 25px;
  margin-bottom: 15px;
  margin-left: 35px;
}

.BtnSeggerimenti {
  display: flex;
  align-items: center;
  width: max-content;
  line-height: 0.9;
}

.BtnSeggerimenti button {
  background-color: #fce3bb;
  border: none;
  font-weight: 500;
}
.fs-img {
  font-size: 15px;
}

.news-item {
  display: block;
  width: 100%;
  cursor: pointer;
}

.news-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* RANDOM CSS */
.pointer {
  cursor: pointer;
}


/* btnTendina*/
.btnContenitoreTendina {
  position: fixed;
  bottom: 0;
  right: 1em;
  z-index: 1;
}
.btnTendina {
  background-color: #ffffff;
  border: none;
  border-color: transparent;
  box-shadow: -1px 0px 5px 0px rgb(186, 186, 186);
}
.btnTendina:hover {
  background-color: #c0c6f7a3;
}
.bgForm {
  background-color: #edf3f7;
}
.contenutoForm {
  max-width: 280px;
}
.btnForm {
  background-color: transparent;
  margin-bottom: 100px;
}
.btnForm:hover {
  background-color: rgb(197, 193, 193);
  border: solid 3px;
}
@media screen and (max-width: 768px) {
  .btnContenitoreTendina {
    display: none;
  }
}

.homepage-button:hover{
  background-color: #dddddcc0;
  
}


