html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: #f4f2ee;
}

/* PROFILEHERO.tsx */
.custom-border{
  border-style: dashed !important;
}
.custom-position{
  position: absolute;
  bottom: -30px;

}

/* FOOTERLINKEDIN */
.custom-hover:hover{
  text-decoration: underline !important;
}
/* FOOTERMINI */
#example-custom-modal-styling-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  --bs-modal-width: 100vw;
  margin: 0;
}
.footerMini {
  text-decoration: none;
  color: black;
  font-size: 11px;
}

.footerMini:hover {
  text-decoration: underline;
  color: blue;

  background-color: #F4F2EE;
}

/*PofileCardsSideBar.jsx */
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}