html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #f4f2ee;
}

/* PROFILEHERO.tsx */
.custom-border {
  border-style: dashed !important;
}
.custom-hover-card:hover{
  background-color:#f4f2ee
}
.custom-position {
  position: absolute;
  bottom: -30px;
}

/* FOOTERLINKEDIN */

.custom-hover:hover {
  text-decoration: underline !important;
  color: rgba(0, 0, 255, 0.468);
}


/* FOOTERMINI */
#example-custom-modal-styling-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  --bs-modal-width: 100vw;
  margin: 0;
}
.footerMini {
  text-decoration: none;
  color: black;
  font-size: 11px;
}

.footerMini:hover {
  text-decoration: underline;
  color: blue;

  background-color: #f4f2ee;
}

/*PofileCardsSideBar.jsx */
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}


/*SideBarProfile.jsx  Larghezza Foto Classe Personale */
.w-14 {
  width: 14% !important;
}

/* NAV-BAR */
.navbar-nav .dropdown-menu{
  position: absolute
}

/* RANDOM CSS */
.pointer{
  cursor: pointer;
}